body{
	font-family: 'Raleway', sans-serif !important;
}

.date{
	font-size: 14pt !important;
}

.nav-item{
	margin: 0px 5px;
}

.navbar{
	width: 100%;
	border-bottom: 2px solid black;
	background: #72cbd3;
}

h1{
	color:white;
	margin-left:auto;
	margin-right: auto;
	text-align:center;
	font-weight: bold !important;

}
h2{
	color:orange;
}
h3 {
	text-align:center;
	margin-left:auto;
	margin-right: auto;
}
h6 {
	text-align:center;
	margin-left:auto;
	margin-right: auto;
}

.nav-link{
	color: #f39237 !important;
	padding: 0 !important;
	font-family: "Chewy", cursive !important;
	font-size: 30px !important;
	-webkit-text-stroke: 1px black;
}
a:hover{
	color: #f7a072 !important;
}


ul#nav li{
	display:inline-block;
	padding: 5px 20px 5px 20px;


}
.mainPic{
	max-height: 250px;
	max-width: 300px;
	vertical-align: middle;
	display: inline-block;
}
.pic {
	max-width: 300px;
	width: 100%;
	height: 100%;
	min-height: 250px;
	vertical-align: middle;

}
#middle{
	margin-left:auto;
	margin-right: auto;
	text-align: center;
	display: block;
}

#list table{
	margin-right: auto !important;
	margin-left: auto !important;
	width: 90%;
	text-align: center;
}

#winners{
	font-size: 20pt;
	min-height: 500px;
	padding-top: 40px;
}

.jumbotron{
	background: #EBF5DF !important;
		border: 2px solid black !important;
		height: 100%;
}

.single_winner{
	margin-top: 20px;
}

.jar{
	max-height: 250px;
}
.myPic{
	height: 400px;
	width: 600px;
	vertical-align: middle;
}

#summary{
	text-align: center;
}

#individual{
	margin-left: 200px;
    margin-right: 200px;
}

.inappropriate{
	font-size: 50%;
	color: red;
}

.upload{
	float:right;
	margin-right:20%;
}
