Options -Indexes

RewriteEngine on

# ErrorDocument 404 /app/controller/error.php

# Site
RewriteRule ^$ app/controller/siteController.php?action=home [QSA,L]
RewriteRule ^vote/?$ app/controller/siteController.php?action=vote [QSA,L]
RewriteRule ^about/?$ app/controller/siteController.php?action=about [QSA,L]
RewriteRule ^upload/?$ app/controller/siteController.php?action=upload [QSA,L]
RewriteRule ^pastwinners/?$ app/controller/siteController.php?action=pastwinners [QSA,L]
RewriteRule ^standings/?$ app/controller/siteController.php?action=standings [QSA,L]
RewriteRule ^account/?$ app/controller/siteController.php?action=account [QSA,L]
RewriteRule ^signup/?$ app/controller/siteController.php?action=signup [QSA,L]
RewriteRule ^signup/register/?$ app/controller/siteController.php?action=signupRegister [QSA,L]
RewriteRule ^login/?$ app/controller/siteController.php?action=login [QSA,L]
RewriteRule ^postlogin/?$ app/controller/siteController.php?action=postlogin [QSA,L]
RewriteRule ^vote/delete/?$ app/controller/siteController.php?action=votedelete [QSA,L]
RewriteRule ^vote/save/?$ app/controller/siteController.php?action=votesave [QSA,L]
RewriteRule ^logout/?$ app/controller/siteController.php?action=logout [QSA,L]
RewriteRule ^upload/save/?$ app/controller/siteController.php?action=uploadsave [QSA,L]
RewriteRule ^upload/delete/?$ app/controller/siteController.php?action=uploaddelete [QSA,L]
RewriteRule ^postvote/?$ app/controller/siteController.php?action=postvote [QSA,L]
RewriteRule ^forgotpassword/?$ app/controller/siteController.php?action=forgotpassword [QSA,L]
RewriteRule ^admin/delete/?$ app/controller/siteController.php?action=admindelete [QSA,L]

RewriteRule ^postpassword/?$ app/controller/siteController.php?action=postpassword [QSA,L]
