body{
	font-family: 'Raleway', sans-serif !important;
}

.applogo{
	height: 40px !important;

}

.date{
	font-size: 14pt !important;
}

.nav-item{
	margin: 0px 5px;
}
.navbar{
	width: 100%;
	border-bottom: 2px solid black;
	background: #72cbd3;
}

h1{
	color:white;
	margin-left:auto;
	margin-right: auto;
	text-align:center;
	font-weight: bold !important;

}
h2{
	color:orange;
}
h3 {
	text-align:center;
	margin-left:auto;
	margin-right: auto;
}
h4 {
	text-align:center;
	margin-left:auto;
	margin-right: auto;
}
h6 {
	text-align:center;
	margin-left:auto;
	margin-right: auto;
}

.nav-link{
	color: #f39237 !important;
	padding: 0 !important;
	font-family: "Chewy", cursive !important;
	font-size: 30px !important;
	-webkit-text-stroke: 1px black;
}
a:hover{
	color: #f7a072 !important;
}


ul#nav li{
	display:inline-block;
	padding: 5px 20px 5px 20px;


}
.mainPic{
	max-height: 250px;
	max-width: 300px;
	vertical-align: middle;
	display: inline-block;
}
.pic {
	width:250px;
	height:250px;
	background-size:cover;
	vertical-align: middle;
	padding-top: 40px;
}
#middle{
	margin-left:auto;
	margin-right: auto;
	text-align: center;
	display: block;
}

#list table{
	margin-right: auto !important;
	margin-left: auto !important;
	width: 90%;
	text-align: center;
}

#winners{
	font-size: 20pt;
	min-height: 500px;
	padding-top: 40px;
}

.jumbotron{
	background: #EBF5DF !important;

	height: 100%;
}
.container{
	background: #EBF5DF !important;
	border: 2px solid black !important;
	min-height: 500px;
	height: 100%;
}

.single_winner{
	margin-top: 20px;
}

.jar{
	max-height: 250px;
}
.myPic{
	height: 400px;
	width: 600px;
	vertical-align: middle;
	margin: 0 auto;
}

#summary{
	text-align: center;
}

#individual{
	margin: 0 auto;
	width: 70%;
	padding-bottom: 30px;
}

.inappropriate{
	font-size: 50%;
	color: red;
}

.upload{
	margin-left: auto;
	margin-right: auto;
}

/*#individual div{

	margin: 0 auto;

}*/

.trophy{
	max-width: 20px;
	max-height: 20px;
}

#uploadBox div{
	margin: 0 auto;
	margin-right: auto;
	margin-left: auto;
	width: 50%;

}

.account{
	width: 100%;
	display: flex;

}

.upContent{
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.tinyPic{
	max-width: 300px;
	width: 60%;
	max-height: 200px;
	height: 40%;
}

.theme{
	text-decoration: underline;
}

.themeButtons{
	width: 60%;
	margin: 0 auto;
	padding-bottom: 20px
}

 div#picUpload{
	 background-color: #72cbd3;
	 border-radius: 15px;
 }

div#picDelete{
	 background-color: #f7a072;
	 border-radius: 15px;
 }

.past p{
	margin-bottom: 1% !important;
	text-align: left !important;
	margin-left: 10px;

}

.past{
	display: flex;
	padding-bottom: 20px;
}

.funkyradio div {
  clear: both;
  overflow: hidden;
}

.funkyradio label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top: 2em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
  color: #777;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #333;
  background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
  color: #333;
  background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #337ab7;
}

.funkyradio-success input[type="radio"]:checked ~ label:before,
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5cb85c;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked ~ label:before,
.funkyradio-warning input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #f0ad4e;
}

.funkyradio-info input[type="radio"]:checked ~ label:before,
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5bc0de;
}
